<div class="container my-4 text-center">
  <h1>New Task</h1>
</div>

<div class="container">
  <div class="card bg-body-tertiary" style="margin: 0 auto;">
    <%= render "form", task: @task %>
  </div>
</div>
<br>
<div>
  <%= link_to "Back to tasks", project_tasks_path(@project) %>
</div>
