<div id="<%= dom_id label %>", class="card" style="width: 18rem; margin-bottom: 1rem;">
  <div class="card-header">
    <h4>
      <%= label.name %>
    </h4>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <%= link_to "Edit", edit_label_path(label), class: "btn btn-outline-primary" %>
      <%= button_to "Destroy", label, method: :delete, class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>
