<div class="container my-4 text-center">
  <h1>New label</h1>
</div>
<div class="container">
  <div class="card bg-body-tertiary", style="width: 33rem; margin: 0 auto 1rem;">
    <div class="card-body">
      <%= render "form", label: @label %>
    </div>
  </div>
</div>
