<h1>Centro notifiche</h1>

<ul>
  <% @notifications.each do |notification| %>
    <li>
        <div id="<%= dom_id notification %>">
            <p><%= notification.test %></p>
        </div>
    </li>
  <% end %>

  <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m" %>
  
</ul>