<h1>New project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m" %>
</div>

 <%= button_to "Sign out", destroy_developer_session_path, method: :delete %> 
