<div class="card position-absolute top-50 start-50 translate-middle" style="width: 26rem;">
  <div class="card-body">
    <h1>New Project</h1>

    <%= render "form", project: @project %>
  </div>
</div>

<br>

<div>
  <%= link_to "Back to projects", "http://127.0.0.1:3000/projects?mode=m" %>
</div>

 <%= button_to "Sign out", destroy_developer_session_path, method: :delete %> 
